@model CreatePDF.Models.CreatePDFModel

@{
    ViewData["Title"] = "CreatePDF";
}

<h1>Create PDF</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePDF">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isURL" /> @Html.DisplayNameFor(model => model.isURL)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create PDF" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

